body {
  background-color: black;

  font-family: 'Raleway', sans-serif;
}

.fa-book {
      margin-left: 370px;

   color: white;
   opacity: 0.8;
}
strong {
    font-size: 7em;
    letter-spacing: .3em;
   opacity: 0.8;
   margin-left: 200px;

   color: white;

}



.teamtext {
  border-bottom: 1px solid #FFFFFF;
   font-family: 'Raleway', sans-serif;

}


.headline {
  color: white;
    opacity: 0.9;
    font-weight: bold;
     font-family: 'Raleway', sans-serif;
}
h2 {
   text-align: center;
    letter-spacing: .2em;
   /* opacity: 0.8;*/
   color: white;
}

main {

  background: rgba(0, 0, 0, .4);

  margin-top: 100px ;
  width:800px;
  margin-left:auto;
  margin-right: auto;



}

.baseball {
  height: 350px;
   border-radius: 5px;
   color: #0E8DE3;
    background: #F3F9FE;
  display:inline-block;
  width: 45%;
  vertical-align:text-top;
  padding-left:.9em;
  margin-left: auto;
  margin-right: auto;
}

/*.teams {
  border-radius: 5px;
  color: #FFFFFF;
  background: #529FCD;
  display:inline-block;
  vertical-align:text-top;
  padding-left:.9em;
  margin-left: auto;
  margin-right: auto;
}*/


.button {
  border-radius: 5px;
  border: 1px solid #56BC8A;
  background:  background: rgba(255, 255, 255, .4);;

  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 170px;
  padding-top:10px;
  padding: 5px;
}

.button a {
  font-size: 18px;
   margin-left: 12px;
  font-weight: bold;

}

.teampics {
width: 300px;

}
/*
@media screen and (max-width: 700px) {
  body {
    font-size: .5em;
  }
}

@media screen and (max-width: 500px) {
  main {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }*/


}
