<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
       <link rel="stylesheet" href="../public/css/stylesweb.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <style>
body {
    color: #FFFFFF;
    background: #36465D;
    font-family: 'Raleway', sans-serif;
}
</style>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

  <ul class="list nav navbar-nav">

    <li><%= link_to 'Home', root_path %> </li>


    <li><a href="/logout">Logout</a></li>
       <li><%= link_to 'Teams', home_teams_path %></li>
  </ul>
  </div>
</nav>


      <h1 style="margin-top: 90px; text-align: center;">Today's Games</h1>

      <div class="container-fluid">
      <% @games.each do |game|%>
     <div class="row-fluid">
     <div class="col-sm-3 teampics">
        <p class="teamtext"><%= game.label %></p>
        <img src="http://i.forbesimg.com/media/lists/teams/oakland-athletics_416x416.jpg" alt="" width="239px" height="200px">
         <p><%= game.full_name %></p>
        <div class="button">Pick</div>
      </div>
      <%end%>
     </div>

  </div>




</body>
</html>
