<h1>Signup!</h1>
  <div id='new-user-form-wrapper'>
    <form id='new-user-form' action='/user' method='POST'>
    <label>Email: </label>
    <input type='text' name='email'></input>
    <label>Password: </label>
    <input type='password' name='password'></input>
    <input type='submit'>
    </form>
  </div>
