.teamback {
  height: 230px;
  min-width: 90%;
  background: #EEEEEE;
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  z-index: 3;
  text-align: center;
}

/* {
  border: 1px solid green;
}*/
nav {

  background: black;
}

.teamback {
    min-height: 290px;
      -webkit-transition: -webkit-box-shadow 0.5s ease-out, opacity 0.5s ease-out;
    -moz-transition: -moz-box-shadow 0.5s ease-out, opacity 0.5s ease-out;
    transition: box-shadow 0.5s ease-out, opacity 0.5s ease-out;

}

.teamback:hover {
    -webkit-box-shadow: inset 0 0 0 999em rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 0 999em  rgba(0,0,0,0.3);
    box-shadow: inset 0 0 0 999em rgba(0,0,0,0.3);
    opacity: 1;
    cursor: pointer;
}

.description-wrapper {
  display: flex;
  align-items: center;

}


.imgDescription {
  z-index: 5;
  visibility: hidden;
  position: absolute;
  border-radius: 8px;
    min-width: 75%;
   text-align: center;
   top: 2.5%;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 10%;
   margin-bottom: 10%;
}

.game-score{
  color: blue;
  font-size: 200%;
  visibility: hidden;
  position: absolute;
  border-radius: 8px;
  min-width: 75%;
  text-align: center;
  top: 2.5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
  margin-bottom: 10%;
}

.teamback:hover .game-score {
  visibility: visible;
}

.teamback:hover .imgDescription {
  visibility: visible;
}

.middle {
  min-width: 10%;
  display: inline-block;
}

.lteam {
  left: 5%;
  min-width: 49%;
  display: inline-block;
  margin: 0;
  z-index: 4;
}

.rteam {
  min-width: 49%;
  display: inline-block;
  right: 5%;
  margin: 0;
  z-index: 4;
}

img {
display: block;
margin-left: auto;
margin-right: auto;


}

.fullname {
 display: block;
margin-left: auto;
margin-right: auto;
}


.bet {
  border: 2px solid white;
  background: #F8F8F8;
  border-radius: 10px;
  padding: 30px;
}


.centertext {
  margin-top: 90px;
  text-align: center;
  display: block;
  color: green;
}

