// Place all the styles related to the card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {

    color: #FFFFFF;
    background-color: #36465D;
    font-family: 'Raleway', sans-serif;
}
input {
  color: black;
}

.row-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

